body {font-family:Georgia, 'Times New Roman', Times, serif; color: #1B1A17;
    background-color:#fff2e6;}

nav {background-color: #ccffcc; padding: 10px; margin-bottom: 30px;}

nav a {color:#993333}

nav a:hover{background-color: #ff0066;}

h1,h2,h3, div a, label {color:#000099;}

.myskill {text-align: center;}

p {color: #2d0075;}

a {color: #4ebdfc}

h1 {font-size :3em}
h2, nav, p, div, a, img {font-size :1em}

.quote {float:right;}
.img1 {float:left;}

.skill {display: flex; margin-top: 50px;}

.mainskill {display: flex; justify-content: space-between;width: 75%; margin-right: 40px; margin-top: auto; margin-bottom: auto;margin-left: 80px;}

.otherskill {padding: 20px;background-color: #ccffcc; border-radius: 2em; margin-left: auto; width: 25%;margin-right: 50px;}

.info {display: flex; width: 65%; margin-left: 80px;}

.banner {max-width: 100%;}

@media only screen and (max-width: 600px) {
        nav a {width:100%; display: block;}
        nav a span {display: none;}
        nav div {display: contents;}
    }


@media only screen and (min-width: 600px){
    nav div {display: none;}
}

#skip{
    position: absolute;
    left: -999px;
    background-color: white;
    padding: 5px;
}
#skip:focus{
    left: 10px;
}


table,th,td {border: 1em solid black;}
.info {display: flex;padding: 20px;background-color: #ccffcc; border-radius: 2em;margin:2em;flex-wrap: wrap;}
.row1, .row2 {margin: 0.62em;}
.row1{flex:1;margin-top: auto;margin-left: 3em;}
.row2{flex:3;margin-top: auto;}

.moreinfo{display:flex;padding:20px;
    background-color: #ccffcc; 
    border-radius:2em; 
    margin:2em;
    flex-wrap: wrap;
}

.info, .moreinfo {flex:1;}

.form, .map {margin: 10px;}
.form{flex:1;margin-left: 3em;}
.map{flex:3;}